@model WebApplicationAirData.Models.Maalested_Table

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Maalested_Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Akronym)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Akronym)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeometriId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeometriId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaaleStedId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
