@model WebApplicationAirData.Models.Opstilling_Table

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Opstilling_Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maalested_Table.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maalested_Table.Navn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OpstillingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
