@model WebApplicationAirData.Models.Enhed_Table

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enhed_Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kommentar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kommentar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnhedId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
